REACT_APP_FIREBASE_API_KEY=111111AIzaSyAOpZ
REACT_APP_FIREBASE_AUTH_DOMAIN=mapbox-1111ce.firebaseapp.com
REACT_APP_FIREBASE_DATABASE_URL=https://mapbox1111.firebaseio.com
REACT_APP_FIREBASE_PROJECT_ID=mapbox-1111
REACT_APP_FIREBASE_STORAGE_BUCKET=mapbox-111.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=11112684966
REACT_APP_FIREBASE_APP_ID=1:11111111:web:1111111
REACT_APP_FIREBASE_MEASUREMENT_ID=G-11111
REACT_APP_MAPBOX_ACCESS_TOKEN=pk.111111111oifQ.jeM_a8w2l11111uQ